body, html{
    background-color: black;
    margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
}

h1{
    color: white;
    margin-left: 20px;

    text-align: center;
   

    font-size: 4vw; /* Adjusts size based on viewport width */

}

p{
    color: white;
    margin-left: 20px;
}

/* Basic hyperlink styling */
a {
    color: white;         /* Set initial color */
    text-decoration: none;  /* Remove underline */
    font-weight: bold;
    font-size: 1.2rem;      /* Customize size */
    transition: color 0.3s; /* Smooth color transition */
}

/* Hover effect */
a:hover {
    color: #e74c3c;         /* Change color on hover */
    text-decoration: underline; /* Add underline on hover */
}