body, html{
 
    margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
}

h1{
    color: white;
    margin-left: 20px;
    text-align: center;
    
    font-size: 4vw; /* Adjusts size based on viewport width */

}

p{
   
    margin-left: 20px;
}

/* Basic hyperlink styling */
a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
    font-style: normal; 
    color: black;        /* Set initial color */
    text-decoration: none;  /* Remove underline */
  
    font-size: 2.2rem;      /* Customize size */
    transition: color 0.3s, font-size 0.3s;
 
  
}

/* Hover effect */
a:hover {
    font-size: 2.5rem;  
    color: red;       /* Change color on hover */
}


 